{%extends 'testapp/base.html'%}
{%block title_block%}Change Password{%endblock%}
{%block content%}
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Gcorp</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/testapp">Home</a> </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Hi {{user.username}}</a> </li>&nbsp&nbsp&nbsp&nbsp
        <li><a href="/testapp/profile">Profile</a> </li>&nbsp&nbsp&nbsp&nbsp
        <li><a href="/accounts/logout">Logout</a> </li>&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </ul>
</nav>



 <div class="container">
     <div class="jumbotron">

     <form method="post">
         {%csrf_token%}
         <!--{{form.as_P}}-->
         <p><label for="id_old_password">Old password &nbsp&nbsp&nbsp&nbsp&nbsp :</label> <input type="password" name="old_password" autofocus required id="id_old_password" /></p><br>
        <p><label for="id_new_password1">New password &nbsp&nbsp&nbsp&nbsp  :</label> <input type="password" name="new_password1" required id="id_new_password1" /> </p><br>
        <p><label for="id_new_password2">Confirm password:</label> <input type="password" name="new_password2" required id="id_new_password2" /></p>

         <span class="helptext">
        <ul>
            <li>Your password can&#39;t be too similar to your user name.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can&#39;t be entirely numeric.</li>
        </ul>
    </span>
         <button type="submit">Submit</button>
     </form>
     <br>

     </div>

 </div>

{%endblock%}