{%extends 'testapp/base.html'%}
{%block title_block%}Can't change the pasword{%endblock%}
{%block content%}

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Gcorp</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/testapp">Home</a> </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Hi {{user.username}}</a> </li>
        <li><a href="/testapp/profile">Profile</a> </li>
        <li><a href="/accounts/logout">Logout</a> </li>
        <li><a href="#">      </a> </li>



    </ul>
</nav>
<div class="container">
        <div class="jumbotron">

<h1>Can't change the password</h1>
            <p>
                you can't change the password, if you are not a registered user or login through google/facebook...

            </p>
<p>
    If you are a registered user you can click here to change your password  <a href="/testapp/changepassword">Click to Change Password</a>

</p>

           </div>
    </div>
{%endblock%}