{%extends 'testapp/base.html'%}
{%block title_block%}Thanks for Login{%endblock%}
{%block content%}


<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Gcorp</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/testapp">Home</a> </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Hi {{user.username}}</a> </li>&nbsp&nbsp&nbsp&nbsp
        <li><a href="/testapp/profile">Profile</a> </li>&nbsp&nbsp&nbsp&nbsp
        <li><a href="/accounts/logout">Logout</a> </li>&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

    </ul>
</nav>

{% if user.is_authenticated %}
<h1>Hi {{user.username }},Thanks for logging</h1>
{%endif%}


{%endblock%}